TODO: There are at least five (meaningful) performance tests written with k6, included in the k6 folder. Performance test results are included in the PERFORMANCE_TEST_RESULTS.md that is included in the assignment template.

## Load Answers Page
http_reqs: 4904
http_req_duration - median: 20.35ms
http_req_duration - 99th percentile: 63.75ms

## Load Courses Page
http_reqs: 6989
http_req_duration - median: 14.26ms
http_req_duration - 99th percentile: 52ç39ms

## Load Questions Page
http_reqs: 4774
http_req_duration - median: 20.96ms
http_req_duration - 99th percentile: 63.87ms

## Submitting Answers
http_reqs: 10151
http_req_duration - median: 9.78ms
http_req_duration - 99th percentile: 46.65ms

## Submitting Questions
http_reqs: 40904
http_req_duration - median: 2.39ms
http_req_duration - 99th percentile: 8.82ms

## Upvote Question
http_reqs: 29354
http_req_duration - median: 2.44ms
http_req_duration - 99th percentile: 9.61ms


