TODO: There are at least five (meaningful) performance tests written with k6, included in the k6 folder. Performance test results are included in the PERFORMANCE_TEST_RESULTS.md that is included in the assignment template.

## Load Answers Page
http_reqs: 5102
http_req_duration - median: 19.55ms
http_req_duration - 99th percentile: 45.75ms

## Load Courses Page
http_reqs: 7812
http_req_duration - median: 12.75ms
http_req_duration - 99th percentile: 36.5ms

